<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itensoft.mapper.ConfigMapper" >
  <resultMap id="ConfigResult" type="com.itensoft.model.Config" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="syskey" property="syskey" jdbcType="VARCHAR" />
    <result column="sysvalue" property="sysvalue" jdbcType="LONGVARCHAR" />
  </resultMap>
  <select id="loadConfig" resultMap="ConfigResult" >select * from Config</select>
</mapper>