<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:log4j.properties</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ServletConfigurator</servlet-name>
    <servlet-class>
            org.logicalcobwebs.proxool.configuration.ServletConfigurator
        </servlet-class>
    <init-param>
      <param-name>xmlFile</param-name>
      <param-value>WEB-INF/proxool.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
                /WEB-INF/springmvc-servlet.xml
            </param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Kaptcha</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    <init-param>
      <param-name>kaptcha.border.thicknes</param-name>
      <param-value>1</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.char.length</param-name>
      <param-value>4</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.image.width</param-name>
      <param-value>120</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.border.color</param-name>
      <param-value>5,112,192</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.font.color</param-name>
      <param-value>42,77,159</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Kaptcha</servlet-name>
    <url-pattern>/kaptcha.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>
            org.logicalcobwebs.proxool.admin.servlet.AdminServlet
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/proxool</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/error.jsp</location>
  </error-page>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/tld/jstl/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
      <taglib-location>/WEB-INF/tld/jstl/fmt-1_0-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tld/jstl/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
      <taglib-location>/WEB-INF/tld/jstl/c-1_0-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/tld/jstl/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
      <taglib-location>/WEB-INF/tld/jstl/sql-1_0-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/tld/jstl/x.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x-rt</taglib-uri>
      <taglib-location>/WEB-INF/tld/jstl/x-1_0-rt.tld</taglib-location>
    </taglib>
  </jsp-config>
  <listener>
    <description>用来监听Session销毁，从用户列表中删除在线用户</description>
    <listener-class>com.itensoft.common.OnlineUserListener</listener-class>
  </listener>
  <servlet>
    <description>客户端与服务保持连接</description>
    <display-name>Logon</display-name>
    <servlet-name>Logon</servlet-name>
    <servlet-class>com.itensoft.servlet.Logon</servlet-class>
  </servlet>
  <servlet>
    <description>取得操作日志</description>
    <display-name>LogManager</display-name>
    <servlet-name>LogManager</servlet-name>
    <servlet-class>com.itensoft.servlet.LogManager</servlet-class>
  </servlet>
  <servlet>
    <description>获取用户列表</description>
    <display-name>UserTree</display-name>
    <servlet-name>UserTree</servlet-name>
    <servlet-class>com.itensoft.servlet.UserTree</servlet-class>
  </servlet>
  <servlet>
    <description>获取用户属性</description>
    <display-name>UserProperty</display-name>
    <servlet-name>UserProperty</servlet-name>
    <servlet-class>com.itensoft.servlet.UserProperty</servlet-class>
  </servlet>
  <servlet>
    <description>显示用户属性</description>
    <display-name>UserInfo</display-name>
    <servlet-name>UserInfo</servlet-name>
    <servlet-class>com.itensoft.servlet.UserInfo</servlet-class>
  </servlet>
  <servlet>
    <description>控制软件</description>
    <display-name>ControlSoftware</display-name>
    <servlet-name>ControlSoftware</servlet-name>
    <servlet-class>com.itensoft.servlet.ControlSoftware</servlet-class>
  </servlet>
  <servlet>
    <description>管理端登录</description>
    <display-name>管理端登录</display-name>
    <servlet-name>ManagerLogon</servlet-name>
    <servlet-class>com.itensoft.servlet.ManagerLogon</servlet-class>
  </servlet>
  <servlet>
    <description>管理获取消息</description>
    <display-name>管理获取消息</display-name>
    <servlet-name>ManagerGetAllMessage</servlet-name>
    <servlet-class>com.itensoft.servlet.ManagerGetAllMessage</servlet-class>
  </servlet>
  <servlet>
    <description>获取在线管理员</description>
    <display-name>获取在线管理员</display-name>
    <servlet-name>GetOnlineManager</servlet-name>
    <servlet-class>com.itensoft.servlet.GetOnlineManager</servlet-class>
  </servlet>
  <servlet>
    <description>获取在未读取消息</description>
    <display-name>获取在未读取消息</display-name>
    <servlet-name>ManagerGetNewMessage</servlet-name>
    <servlet-class>com.itensoft.servlet.ManagerGetNewMessage</servlet-class>
  </servlet>
  <servlet>
    <description>设置消息状态</description>
    <display-name>设置消息状态</display-name>
    <servlet-name>ManagerSetMessageStatus</servlet-name>
    <servlet-class>com.itensoft.servlet.ManagerSetMessageStatus</servlet-class>
  </servlet>
  <servlet>
    <description>管理登出</description>
    <display-name>管理登出</display-name>
    <servlet-name>ManagerLogout</servlet-name>
    <servlet-class>com.itensoft.servlet.ManagerLogout</servlet-class>
  </servlet>
  <servlet>
    <description>请求确认</description>
    <display-name>请求确认</display-name>
    <servlet-name>ManagerResponseRequestion</servlet-name>
    <servlet-class>com.itensoft.servlet.ManagerResponseRequestion</servlet-class>
  </servlet>
  <servlet>
    <description>客户取得未读消息</description>
    <display-name>客户取得未读消息</display-name>
    <servlet-name>ClientGetNewMessage</servlet-name>
    <servlet-class>com.itensoft.servlet.ClientGetNewMessage</servlet-class>
  </servlet>
  <servlet>
    <description>客户申请</description>
    <display-name>客户申请</display-name>
    <servlet-name>ClientRequest</servlet-name>
    <servlet-class>com.itensoft.servlet.ClientRequest</servlet-class>
  </servlet>
  <servlet>
    <description>获取VirtualManager</description>
    <display-name>获取VirtualManager</display-name>
    <servlet-name>GetVirtualManagers</servlet-name>
    <servlet-class>com.itensoft.servlet.GetVirtualManagers</servlet-class>
  </servlet>
  <servlet>
    <description>获取角色列表</description>
    <display-name>获取角色列表</display-name>
    <servlet-name>GetRoleList</servlet-name>
    <servlet-class>com.itensoft.servlet.GetRoleList</servlet-class>
  </servlet>
  <servlet>
    <description>获取虚拟管理员的用户</description>
    <display-name>获取虚拟管理员的用户</display-name>
    <servlet-name>GetSelectManagerUser</servlet-name>
    <servlet-class>com.itensoft.servlet.GetSelectManagerUser</servlet-class>
  </servlet>
  <servlet>
    <description>获取虚拟管理员的可用用户</description>
    <display-name>获取虚拟管理员的可用用户</display-name>
    <servlet-name>GetAvailableUser</servlet-name>
    <servlet-class>com.itensoft.servlet.GetAvailableUser</servlet-class>
  </servlet>
  <servlet>
    <description>获取虚拟管理员的可用用户</description>
    <display-name>获取虚拟管理员的可用用户</display-name>
    <servlet-name>GetRoleUserList</servlet-name>
    <servlet-class>com.itensoft.servlet.GetRoleUserList</servlet-class>
  </servlet>
  <servlet>
    <description>获取角色属性</description>
    <display-name>获取角色属性</display-name>
    <servlet-name>GetRoleProperty</servlet-name>
    <servlet-class>com.itensoft.servlet.GetRoleProperty</servlet-class>
  </servlet>
  <servlet>
    <description>获取用户</description>
    <display-name>获取用户</display-name>
    <servlet-name>GetManagerUser</servlet-name>
    <servlet-class>com.itensoft.servlet.GetManagerUser</servlet-class>
  </servlet>
  <servlet>
    <description>获取用户</description>
    <display-name>获取用户</display-name>
    <servlet-name>GetManagerUserData</servlet-name>
    <servlet-class>com.itensoft.servlet.GetManagerUserData</servlet-class>
  </servlet>
  <servlet>
    <description>删除用户</description>
    <display-name>删除用户</display-name>
    <servlet-name>DeleteManagerUser</servlet-name>
    <servlet-class>com.itensoft.servlet.DeleteManagerUser</servlet-class>
  </servlet>
  <servlet>
    <description>删除虚拟管理员</description>
    <display-name>删除虚拟管理员</display-name>
    <servlet-name>DeleteVirtualManager</servlet-name>
    <servlet-class>com.itensoft.servlet.DeleteVirtualManager</servlet-class>
  </servlet>
  <servlet>
    <description>修改虚拟管理员</description>
    <display-name>修改虚拟管理员</display-name>
    <servlet-name>ModifyVirtualManager</servlet-name>
    <servlet-class>com.itensoft.servlet.ModifyVirtualManager</servlet-class>
  </servlet>
  <servlet>
    <description>角色服务</description>
    <display-name>角色服务</display-name>
    <servlet-name>RoleService</servlet-name>
    <servlet-class>com.itensoft.servlet.RoleService</servlet-class>
  </servlet>
  <servlet>
    <description>用户组服务</description>
    <display-name>用户组服务</display-name>
    <servlet-name>GroupService</servlet-name>
    <servlet-class>com.itensoft.servlet.GroupService</servlet-class>
  </servlet>
  <servlet>
    <description>获取解密员信息</description>
    <display-name>获取解密员信息</display-name>
    <servlet-name>ManagerGetDocerInfo</servlet-name>
    <servlet-class>com.itensoft.servlet.ManagerGetDocerInfo</servlet-class>
  </servlet>
  <servlet>
    <description>解密登录</description>
    <display-name>解密登录</display-name>
    <servlet-name>DocerLogon</servlet-name>
    <servlet-class>com.itensoft.servlet.DocerLogon</servlet-class>
  </servlet>
  <servlet>
    <description>更改密码</description>
    <display-name>更改密码</display-name>
    <servlet-name>UserChangePassword</servlet-name>
    <servlet-class>com.itensoft.servlet.UserChangePassword</servlet-class>
  </servlet>
  <servlet>
    <description>解密获取全部消息</description>
    <display-name>解密获取全部消息</display-name>
    <servlet-name>DocerGetAllMessage</servlet-name>
    <servlet-class>com.itensoft.servlet.DocerGetAllMessage</servlet-class>
  </servlet>
  <servlet>
    <description>解密获取新消息</description>
    <display-name>解密获取新消息</display-name>
    <servlet-name>DocerGetNewMessage</servlet-name>
    <servlet-class>com.itensoft.servlet.DocerGetNewMessage</servlet-class>
  </servlet>
  <servlet>
    <description>解密设置消息的状态</description>
    <display-name>解密设置消息的状态</display-name>
    <servlet-name>DocerSetMessageStatus</servlet-name>
    <servlet-class>com.itensoft.servlet.DocerSetMessageStatus</servlet-class>
  </servlet>
  <servlet>
    <description>解密员的退出</description>
    <display-name>解密员的退出</display-name>
    <servlet-name>DocerLogout</servlet-name>
    <servlet-class>com.itensoft.servlet.DocerLogout</servlet-class>
  </servlet>
  <servlet>
    <description>管理员设置</description>
    <display-name>管理员设置</display-name>
    <servlet-name>ManagerService</servlet-name>
    <servlet-class>com.itensoft.servlet.ManagerService</servlet-class>
  </servlet>
  <servlet>
    <description>客户退出</description>
    <display-name>客户退出</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.itensoft.servlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <description>管理用户服务</description>
    <display-name>管理用户服务</display-name>
    <servlet-name>UserService</servlet-name>
    <servlet-class>com.itensoft.servlet.UserService</servlet-class>
  </servlet>
  <servlet>
    <description>解密员反馈信息</description>
    <display-name>解密员反馈信息</display-name>
    <servlet-name>DocerResponse</servlet-name>
    <servlet-class>com.itensoft.servlet.DocerResponse</servlet-class>
  </servlet>
  <servlet>
    <description>获取流程日志</description>
    <display-name>获取流程日志</display-name>
    <servlet-name>GetProcessLog</servlet-name>
    <servlet-class>com.itensoft.servlet.GetProcessLog</servlet-class>
  </servlet>
  <servlet>
    <description>获取用户消息</description>
    <display-name>获取用户消息</display-name>
    <servlet-name>ClientGetAllMessage</servlet-name>
    <servlet-class>com.itensoft.servlet.ClientGetAllMessage</servlet-class>
  </servlet>
  <servlet>
    <description>下载流程处理结果</description>
    <display-name>下载流程处理结果</display-name>
    <servlet-name>DownloadProcessLog</servlet-name>
    <servlet-class>com.itensoft.servlet.DownloadProcessLog</servlet-class>
  </servlet>
  <servlet>
    <description>Cert</description>
    <display-name>Cert service</display-name>
    <servlet-name>CertService</servlet-name>
    <servlet-class>com.itensoft.servlet.CertService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logon</servlet-name>
    <url-pattern>/Logon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogManager</servlet-name>
    <url-pattern>/getLog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserTree</servlet-name>
    <url-pattern>/getUserTree</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserProperty</servlet-name>
    <url-pattern>/getUserProperty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfo</servlet-name>
    <url-pattern>/getUserInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControlSoftware</servlet-name>
    <url-pattern>/getControlSoftware</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerLogon</servlet-name>
    <url-pattern>/ManagerLogon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerGetAllMessage</servlet-name>
    <url-pattern>/ManagerGetAllMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetOnlineManager</servlet-name>
    <url-pattern>/GetOnlineManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerGetNewMessage</servlet-name>
    <url-pattern>/ManagerGetNewMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerSetMessageStatus</servlet-name>
    <url-pattern>/ManagerSetMessageStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerLogout</servlet-name>
    <url-pattern>/ManagerLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerResponseRequestion</servlet-name>
    <url-pattern>/ManagerResponseRequestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClientGetNewMessage</servlet-name>
    <url-pattern>/ClientGetNewMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClientRequest</servlet-name>
    <url-pattern>/ClientRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetVirtualManagers</servlet-name>
    <url-pattern>/GetVirtualManagers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRoleList</servlet-name>
    <url-pattern>/GetRoleList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSelectManagerUser</servlet-name>
    <url-pattern>/GetSelectManagerUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAvailableUser</servlet-name>
    <url-pattern>/GetAvailableUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRoleUserList</servlet-name>
    <url-pattern>/GetRoleUserList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRoleProperty</servlet-name>
    <url-pattern>/GetRoleProperty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetManagerUser</servlet-name>
    <url-pattern>/GetManagerUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetManagerUserData</servlet-name>
    <url-pattern>/GetManagerUserData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteManagerUser</servlet-name>
    <url-pattern>/DeleteManagerUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteVirtualManager</servlet-name>
    <url-pattern>/DeleteVirtualManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyVirtualManager</servlet-name>
    <url-pattern>/ModifyVirtualManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleService</servlet-name>
    <url-pattern>/RoleService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupService</servlet-name>
    <url-pattern>/GroupService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerGetDocerInfo</servlet-name>
    <url-pattern>/ManagerGetDocerInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocerLogon</servlet-name>
    <url-pattern>/DocerLogon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserChangePassword</servlet-name>
    <url-pattern>/UserChangePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocerGetAllMessage</servlet-name>
    <url-pattern>/DocerGetAllMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocerGetNewMessage</servlet-name>
    <url-pattern>/DocerGetNewMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocerSetMessageStatus</servlet-name>
    <url-pattern>/DocerSetMessageStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocerLogout</servlet-name>
    <url-pattern>/DocerLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerService</servlet-name>
    <url-pattern>/ManagerService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserService</servlet-name>
    <url-pattern>/UserService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocerResponse</servlet-name>
    <url-pattern>/DocerResponse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetProcessLog</servlet-name>
    <url-pattern>/GetProcessLog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClientGetAllMessage</servlet-name>
    <url-pattern>/ClientGetAllMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadProcessLog</servlet-name>
    <url-pattern>/DownloadProcessLog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CertService</servlet-name>
    <url-pattern>/servlet/CertService</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
</web-app>